**/venv/
**/node_modules/
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/.DS_Store
**/dist/
**/build/
**/staticfiles/
**/media/
**/db.sqlite3
**/.env
backend/vector_db/
frontend/.frontend.pid
frontend/.backend.pid